<div class="sidenav">
  <div><img src="./assets/img/sidebar.jpg" class="img-border" alt=""></div>
  <a style="margin-top: 30px; padding-left: 25px;" href="http://localhost:4200/home"><i class="pi pi-home"></i> Inicio </a>
  <a style="padding-left: 25px; margin-top: 10px;" href="http://localhost:4200/centrame" ><i class="pi pi-home"></i> Práctica Card</a>
  <a style="padding-left: 25px; margin-top: 10px;" href="http://localhost:4200/" ><i class="pi pi-home"></i> Práctica Final</a>
  <a style="padding-left: 25px; margin-top: 10px;" href="http://localhost:4200/sidebar-instrucciones" ><i class="pi pi-home"></i> sidebar</a>
</div>
