<div class="sidenav">
  <div><img src="./assets/img/sidebar.jpg" class="img-border" alt=""></div>
  <a style="margin-top: 30px; padding-left: 25px;" href="http://localhost:4200/home"><i class="pi pi-home"></i> Home </a>
  <a style="padding-left: 25px; margin-top: 10px;" href="http://localhost:4200/centrame" ><i class="pi pi-home"></i> Práctica Centra Esto</a>
  <a style="padding-left: 25px; margin-top: 10px;" href="http://localhost:4200/juega-con-colores" ><i class="pi pi-home"></i> Práctica Colores</a>

</div>
