.card{
  margin-left: 18%;
  margin-right: 50px;
  margin-top: 20px;
}



/*
Se pueden editar los elementos atraés de su clase, id y tipo de elemento
*/



/*

      Por Tipo De Elemento

      h1{
        color: aqua;
      }

      Por id

      #estaEsUnaId{
        color: aqua;
}

*/
